body {
  background-color: #bdbdbd;
  font-family: Arial, Helvetica, sans-serif;
}

div {
  margin: 40px 30px 30px 30px;
}

h1 {
  background-color: #e2e2e2;
  padding: 20px;
}

.p1 {
  background-color: #4080ca;
  color: white;
  padding: 15px;
  margin-top: 0px;
  margin-bottom: 0px;
}
.p2 {
  background-color: #4792d4;
  color: white;
  padding: 15px;
  margin-top: 0px;
  margin-bottom: 0px;
}
.p3 {
  background-color: #4aa0dd;
  color: white;
  padding: 15px;
  margin-top: 0px;
  margin-bottom: 0px;
}
.p4 {
  background-color: #57aae2;
  color: white;
  padding: 15px;
  margin-top: 0px;
  margin-bottom: 0px;
}
.p5 {
  background-color: #6dbbeb;
  color: white;
  padding: 15px;
  margin-top: 0px;
  margin-bottom: 0px;
}
.p6 {
  background-color: #7fc6ee;
  color: white;
  padding: 15px;
  margin-top: 0px;
  margin-bottom: 0px;
}
.p7 {
  background-color: #95cef1;
  color: white;
  padding: 15px;
  margin-top: 0px;
  margin-bottom: 0px;
}
.p8 {
  background-color: #3dbb7c;
  color: white;
  padding: 15px;
  margin-top: 0px;
  margin-bottom: 0px;
}
.p9 {
  background-color: #f79cd2;
  color: white;
  padding: 15px;
  margin-top: 0px;
  margin-bottom: 0px;
}
.p10 {
  background-color: #f483c3;
  color: white;
  padding: 15px;
  margin-top: 0px;
  margin-bottom: 0px;
}
.p11 {
  background-color: #f46fb7;
  color: white;
  padding: 15px;
  margin-top: 0px;
  margin-bottom: 0px;
}
.p12 {
  background-color: #f156aa;
  color: white;
  padding: 15px;
  margin-top: 0px;
  margin-bottom: 0px;
}
.p13 {
  background-color: #f24499;
  color: white;
  padding: 15px;
  margin-top: 0px;
  margin-bottom: 0px;
}
.p14 {
  background-color: #f03489;
  color: white;
  padding: 15px;
  margin-top: 0px;
  margin-bottom: 0px;
}
.p15 {
  background-color: #f01b78;
  color: white;
  padding: 15px;
  margin-top: 0px;
  margin-bottom: 0px;
}
